
html,body {
  background:#8CC9F2;
   
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y:scroll;
}

html,body{width:100%;height:100%;margin:0;padding:0;}

body{
  font: 400 16px/20px 'Open_Sans', serif;
}
input, select, option, button{
  font: 400 20px/20px 'Open_Sans', serif;
}
.header{
    position:relative;
    width:90%;
    margin: 0 auto;
    border-top-width: 0px;
    margin-bottom: 10px; 
    color:#14364e;
    white-space:nowrap;
    z-index:10;
}   
h1 {    
  font-size:4em;
  margin-bottom:3%;
}
h2{
  font-size:3em;
  margin-bottom:3%;
  margin-left:0.5%;    
  display: inline-block;
}
 .h2{
  font-size:1em;
  margin-bottom:3%;
  margin-top: 3%;
  margin-left:0.5%;    
  display: inline; 
}
h3 {
  font-size:3em;
  text-align: left;
  font-style: normal;
  font-weight:normal;
  color:#14364e; 
}
h4 {
  font-size:2.5em;
  line-height:1em;
  text-align: center;
  font-style: bold;
  font-weight:normal;
  color:#14364e; 
  margin-bottom: 3%;
  margin-top: 1%;
}
.h4 {
  font-size:1.6em;
  line-height:1em;
  text-align: center;
  font-style: normal;
  font-weight:normal;
  color:#14364e;
  margin-bottom: 1%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
}
.garriga {
  font-size: 1.9em;
  text-decoration: none;
  text-align: center;
  color: #0f80cd;
  font-weight: bold;
}
.garriga:hover {
  color: #14364e;
}
.equipe {
  margin-top:5%;
  text-align: center;
  font-size:0.65em;
  color: #14364e;
}
.desenvolvimento {
  margin-top:5%;
  font-size:0.65em;
  color: #14364e; 
  margin-left: 12%; 
}
.conteudo {
  margin-top:1%;
  font-size:0.65em;
  color: #14364e; 
  margin-left: 12%; 
}
.espaco {
  margin-top: 1%;
}
.projeto-visual {
  margin-top:1%;
  font-size:0.65em;
  color: #14364e; 
  margin-left: 12%; 
}
h5{
  font-size:2em;
  line-height:1em;
  text-align: center;
  font-style: bold;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-right:2%;
  margin-left: 2%;
  font-weight:normal;
  color:#14364e; 
  margin-bottom: 3%;
  margin-top: 1%;
}
a {
  text-decoration:none; 
}
.donate {
  font-size: 0.8em;
  margin-left: 35%;
  width: 25%;
  height: 50%;
  color: #8CC9F2;
  background: #14364e;
  border-radius: 10px; 
  text-align: center;
}
.donate:hover {
  color: #fff; 
  text-decoration: none;
  transition-duration: 1.2s;

}
.icon-apple{
  text-align: center;
  font-size:5em;
  line-height:1em;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 7%;
  margin-left: 35%;
  text-decoration: none;
  color:#14364e;
  display: inline;
}
.icon-android{
  text-align: center;
  font-size:5em;
  line-height:1em;
  margin-top: 3%;
  text-align: center;
  margin-bottom: 3%;
  margin-right: 3%;
  margin-left: 5%;
  text-decoration: none;
  color:#14364e;
  display: inline;
}
i.icon-android {
     font-size:90px;
    margin-left:5%;
    margin-right: 1%;
    margin-top:3%;
    color:#14364e;
    text-decoration: none;
}
i.icon-apple {
     font-size:90px;
    margin-left:5%;
    margin-right: 1%;
    margin-top:3%;
    color:#14364e;
    text-decoration: none;
}
.icon-arrows-ccw{
    background: none;
    display: inline;
    color: #0f80cd;
    margin-left: 40%;  
    width: 75px;
    height: 75px;
    min-width: 75px;
    line-height: 150px;
    font-size: 90px;
    text-decoration: none;  
}
h2 .icon-lightbulb {
    font-size:1.5em;
}
.icon-signal{
    font-size:70px;
    margin-left:5%;
    margin-right: 1%;
    margin-top:3%;
    color:#14364e;
    display: inline-block;
}
.icon-book {
    font-size:70px;
    margin-left:5%;
    margin-top:3%;
    color:#14364e;  
}
.catcur {
    font-size: 1em;
    font-style:normal;
}
.table{
    display:table;
    height:80%;
    width:100%;
}
.cell {
    display:table-cell;
    vertical-align:middle;
}

.icons, form, .bloco {
    max-width:600px;
    min-width:305px;
    width:80%;
    margin:0 auto;
    text-align:center;
} 

#curiosidade{
  position:relative;
  background:#0f80cd;
  max-width:600px;
  min-width:305px;
  min-height:400px;
  width:80%;
  margin:0 auto;
  border-radius:100px 100px 100px 100px;
  color: #fff;
  display:block;
}

#curiosidade .texto{
  font-size:2em;
  font-style:oblique;
  line-height:1.25em;
  padding: 2em 1em 1em 1em;
  display:inline-block;
  text-align:center;
  vertical-align: middle;
  position:relative;
  z-index:2;
}

#curiosidade .texto:before{
  content:'“ ';
  font-family:georgia,serif;
  font-size:3em;
  line-height:0.1em;
  margin-right:10px;
  margin-left:-20px;
  display:inline-block;
  vertical-align:bottom;
}
.app {
  font-size: 0.5em;
  text-align: center;
  color: #14364e;
}
.link_iwater {
  font-size: 4em;
  width: 30em;
  height: 50em;
  color: #8CC9F2;
  background: #14364e;
  border-radius: 8px; 
  text-align: center;
}
.link_iwater:hover {
  color: #fff; 
  text-decoration: none;
  transition-duration: 1.2s;
}
#curiosidade:before {
  position:absolute;
  right:0px;
  content: '\e81b';
  font-family: "iwater-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  color:#005a98;
  display: inline-block;
  text-decoration: inherit;
  width: 360px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 360px;
  font-size:360px;
 }

form {
  font-size:1.5em;
  text-align:left;
}
.campo{
  margin-bottom:1em;
  margin-top: 1em;
  text-align:left;
}
label{
    display:block;
    margin-bottom:0.5em;
    margin-top:1em;
}

input, select{
  line-height:2em;height:2em;
  border: 1px solid #069;
  -webkit-border-radius:0.5em;
  -webkit-appearance:none;
  border-radius:0.5em;
  background:#0f80cd;
  color:#fff;
  min-width:150px;
  text-indent:0.25em;
}

button{
  line-height:2em;height:2em;
  border: 1px solid #069;
  -webkit-border-radius:0.5em;
  -webkit-appearance:none;
  border-radius:0.5em;
  background:#31547F;
  color:#fff;
  min-width:150px;
  text-indent:0.25em;
  height:2.5em;
}
.footer .icons{
  text-align:left;
}
.icon-help-circled {
    font-size:70px;
    margin-left:5%;
    margin-top:3%;
    color:#14364e;    
}   

.icon {
    width:49.5%;
    height:150px;
    min-width:150px;
    margin: 0 0.25% 3px 0.25%;
    color: #c9e9fa;
    text-align:center;
    line-height:150px;
    font-size:90px;
    background:#0f80cd;
    display:inline-block;
    text-decoration:none;
}
.mini-icon {
    font-size:2em;
    color:#0f80cd;
    display:inline-block;
    text-decoration:none;
    vertical-align:top;
}

.mini-icon.ativo{
  color:#fff;
}
.icon-plus-circled {
    width:99.5%;
}
.mini-icon.pequeno{font-size:1em;}

.icon:hover, .icon:active{
  color:#7bf3ff;
  background:#0070d9;
}

.icon-large {
  width:99.5%;
  
}

.footer{
  display: inline;
}
.footer .icon {
    background: none;
    display: inline;
    color:#0f80cd;
    width:75px;
    height:75px;
    min-width:75px;
    line-height:150px;
    font-size:90px;
}
.banner {
  text-align: center;
}
table{border-spacing:0;width:100%;border-bottom:0.25em solid #0f80cd;}
th{background:#0f80cd;color:#c9e9fa;font-weight:600;padding:0.5em 0.5em 0.25em 0.5em;}
td{border-bottom:1px solid #0f80cd;}
tbody tr{background:rgba(51,153,204,0.05);}
tbody tr:nth-child(odd){background:rgba(51,153,204,0.2);}
tbody td:nth-child(even), td.consumo p:nth-child(even){background:rgba(220,235,255,0.1);}
td.dia, td.gasto{width:20%;font-size:1.25em;font-weight:600;color:#003366;padding:0.5em;}
td.consumo p{margin:0;padding:0.25em 0.5em;}
.alerta { color: #cc6600 !important;}
.alerta-vermelho { color: #990000 !important;background:rgba(255,0,0,0.05);}

#graficos {
  position:relative;
  margin:0px auto 0 auto;
  padding:0;
  width:300px;
}
#graficos:after{
  content:' ';
  position:absolute;
  bottom:0;
  width:100%;
  background:#8CC9F2;
  left:0;
  height:5px;
}
#graficos img {
  position:relative;
  width:300px;
  height:600px;
  line-height:0.1em;
  margin:0;
  border:none;
  z-index:5;
  margin:-50px 0 -50px 0;
}

#graficos .consumo{position:absolute;left:0;top:90px;width:30%;font-size:1.5em;color:#fff;z-index:7;font-weight:600;}
#graficos .grafico-limite{position:absolute;z-index:6;border-bottom:3px dotted #900;font-size:1.5em;width:100%;font-weight:600;color:#900;}
#graficos .grafico-bkg{position:absolute;z-index:1;bottom:5px;width:100%;min-height:10px;background:#006699;}
.abs{position:absolute;top:5px;}
#escolha-data{text-align:center;width:80%;margin:0 auto;position:relative;z-index:6;}

/*
output { 
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -ms-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
*/


.mensagem {display:inline-block;position:absolute;font-weight:0.75em;line-height:1.25em}
.mensagem .erro   {border:3px solid #990000;color:#600;background:#fff;margin-left:0.5em;border-radius:0 1em 1em 1em;max-width:100%;padding:0.5em;}
.mensagem .sucesso{border:3px solid #009900;color:#060;background:#fff;margin-left:0.5em;border-radius:0 1em 1em 1em;max-width:100%;padding:0.5em;}
.pequeno{font-size:0.75em;line-height:0.75em;}


@font-face {
    font-family: 'Open_Sans';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open_Sans';
    src: url('font/OpenSans-LightItalic-webfont.eot');
    src: url('font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'Open_Sans';
    src: url('font/OpenSans-Semibold-webfont.eot');
    src: url('font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Open_Sans';
    src: url('font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('font/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: bold;
    font-style: oblique;

}